<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Enter Text:</div>
      
      <div class="item item-body">
        <input type="text" class="form-control" name="translatee" id="translatee">
        <br>
        <div style="text-align: center">
          <button class="btn btn-primary" type="button" onclick="translate1()" aria-expanded="false" aria-controls="translation">
            Translate
          </button>
        </div>
      </div>
    </div>

    <div class="list card collapse" id="translation" >
      <div class="item item-divider">Translation:</div>
      <div class="item item-body">
        <div id="Translated-Message">
        </div>
      </div>
    </div>

    <div id="results"></div>

  </ion-content>
</ion-view>
